body{
    color: green;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:normal;
    background-color: #ffcf79;
    font-size: 25px;

    
    
}
h1{

  text-decoration: underline;
  font-size: 150%;
  
}
h2{
    text-decoration: underline;
    font-size: 1.2em;

}
p.p1{
    color:blue;
   
   
}
p.p2{
    color:purple;
    font-size: 15px;
    line-height: 1.5em;
    
   
}
p.p3{
    color:purple;
    font-size: 35px;
    
    font-style: italic;
}


